<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

<title>Formulario Alumno</title>
</head>
<body>
	<div class="container">
		<header class="bg-light p-3 text-center">
		        <div data-th-replace="~{fragments/header::cabecera}"></div>
	
				<div data-th-replace="~{fragments/header::navbar}"></div>
	    </header>
	
			<form data-th-object="${nuevoAlumno}" data-th-action="${flag}?@{/modificarAlumno}:@{/guardarAlumno}" method="post">

		
			<div class="col-md-4">
				<label for="dni" class="form-label">DNI</label> 
				<input type="text" class="form-control" id="dni" data-th-field="*{dni}" data-th-readonly="${flag}">
			</div>
			
			<div class="col-md-4">
				<label for="nombre" class="form-label">Nombre</label> 
				<input type="text" class="form-control" id="nombre" data-th-field="*{nombre}">
			</div>
			
			<div class="col-md-4">
				<label for="apellido" class="form-label">Apellido</label> 
				<input type="text" class="form-control" id="apellido" data-th-field="*{apellido}">
			</div>
			
			<div class="col-md-4">
				<label for="email" class="form-label">Email</label> 
				<input type="email" class="form-control" id="email" data-th-field="*{email}">
			</div>
			
			<div class="col-md-4">
				<label for="telefono" class="form-label">Telefono</label> 
				<input type="number" class="form-control" id="telefono" data-th-field="*{telefono}">
			</div>
			
			<div class="col-md-4">
				<label for="fechaNac" class="form-label">Fecha de nacimiento</label> 
				<input type="date" class="form-control" id="fechaNac" data-th-field="*{fechaDeNac}">
			</div>
			
			<div class="col-md-4">
				<label for="domicilio" class="form-label">Domicilio</label> 
				<input type="text" class="form-control" id="domicilio" data-th-field="*{domicilio}">
			</div>
			
			<div class="col-md-4">
				<label for="lu" class="form-label">LU</label> 
				<input type="text" class="form-control" id="lu" data-th-field="*{LU}">
			</div>
			
		<br>
			
			<button type="submit" class="btn btn-primary">Guardar datos</button>
			<br>
		</form>
		<br>
	</div>

	<footer>
		<br>
		<div data-th-replace="~{fragments/footer::footer}"></div>
		<br>
	</footer>

	<script src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>