<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

<title>Listado Docentes</title>
</head>

<body>
	

	<div class="container">
	
		<header class="bg-light p-3 text-center">
		        <div data-th-replace="~{fragments/header::cabecera}"></div>
	
				<div data-th-replace="~{fragments/header::navbar}"></div>
	    </header>
	    
	
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Legajo</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Apellido</th>
		      <th scope="col">Email</th>
		      <th scope="col">Telefono</th>
		      <th scope="col">Edicion</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    <tr data-th-each="docente : ${listadoDocentes}">
		      <td data-th-text="${docente.legajo}"></td>
		      <td data-th-text="${docente.nombre}"></td>
		      <td data-th-text="${docente.apellido}"></td>
		      <td data-th-text="${docente.email}"></td>
		      <td data-th-text="${docente.telefono}"></td>
		      <td>
		      		<a data-th-href="@{'/borrarDocente/'+${docente.legajo}}" class="btn btn-danger">Borrar</a>
		      		<a data-th-href="@{'/modificarDocente/'+${docente.legajo}}" class="btn btn-warning">Modificar</a>
		      		
		      </td>
		    </tr>
		    
		  </tbody>
		</table>		
	</div>

	<div class="container">
		<a data-th-href="@{/formularioDocente}" class="btn btn-primary">Volver al formulario</a>
	</div>

	<footer>
		<br>
		<div data-th-replace="~{fragments/footer::footer}"></div>
		<br>
	</footer>

<script src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>